<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DAX_FastFood</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-white" style="background-color: #E31837;">
        <div class="pt-5 pb-2">
            <div class="row justify-content-center pb-4">
                <div class="col-md-5 d-flex">
                    <div class="logofooter mx-5">
                        <img src="https://jollibee.com.vn/media/logo-footer.png"
                             alt="Jollibee Logo" width="90">
                    </div>

                    <div class="info">
                        <p><strong>CÔNG TY TNHH JOLLIBEE VIỆT NAM</strong></p>
                        <p>
                            Địa chỉ: Tầng 26, Tòa nhà CII Tower, số 152 Điện Biên Phủ, Phường 25, Quận Bình Thạnh, Thành
                            phố
                            Hồ Chí Minh, Việt Nam
                        </p>
                        <p>Điện thoại: (028) 39309168</p>
                        <p>Tổng đài: 1900-1533</p>
                        <p>Mã số thuế: 0303883266</p>
                        <p>Ngày cấp: 15/07/2008 - Nơi cấp: Cục Thuế Hồ Chí Minh</p>
                        <p>Hộp thư góp ý: jbvnfeedback@jollibee.com.vn</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <img src="https://jollibee.com.vn/media/wysiwyg/delivery-lg_1.png" alt="Jollibee Logo" width="310" class="mb-3">
                    <ul class="list-unstyled">
                        <li><a>Liên hệ</a></li>
                        <li><a>Chính sách và quy định chung</a></li>
                        <li><a>Chính sách thanh toán khi đặt hàng</a></li>
                        <li><a>Chính sách hoạt động</a></li>
                        <li><a>Chính sách bảo mật thông tin</a></li>
                        <li><a>Thông tin vận chuyển và giao nhận</a></li>
                        <li><a>Thông tin đăng ký giao dịch chung</a></li>
                        <li><a>Hướng dẫn đặt phần ăn</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h5 class="fw-bold">Hãy kết nối với chúng tôi</h5>
                    <ul class="list-unstyled">
                        <li class="d-flex align-items-center mb-2">
                            <img class="mx-2" src="https://jollibee.com.vn/media/wysiwyg/icon-fb.png" alt="">
                            <span>Facebook</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <img class="mx-2" src="https://jollibee.com.vn/media/wysiwyg/icon-mail.png" alt="">
                            <span>E-Mail</span>
                        </li>
                    </ul>
                    <img src="	https://jollibee.com.vn/media/wysiwyg/bocongthuong.png" alt="Jollibee Logo" width="250">

                    <p class="fs- mt-3">Tải ứng dụng đặt hàng với nhiều ưu đãi hơn</p>
                    <div class="d-flex gap-2">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
                             alt="Google Play" height="40">
                        <img src="	https://jollibee.com.vn/media/jollibee/logo_appstore.png" alt="App Store"
                             height="40">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pt-3 pb-1 copyright">
            <p>&copy; 2020 Jollibee Viet Nam</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
