@section RegisterPage{
    <link href="https://fonts.googleapis.com/css2?family=MergeBlack&display=swap" rel="stylesheet">
    <link href="~/css/RegisterPage.css" rel="stylesheet"/>
    <main>
        <div class="form-container">
            <h2>ĐĂNG KÝ TÀI KHOẢN</h2>
            <form action="#" method="post">
                <div class="form-group">
                    <input type="text" id="ho" name="ho" placeholder="Họ *" required>
                </div>

                <div class="form-group">
                    <input type="text" id="ten" name="ten" placeholder="Tên *" required>
                </div>

                <div class="form-group">
                    <input type="tel" id="sdt" name="sdt" placeholder="Số điện thoại *" required>
                </div>

                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="E-mail *" required>
                </div>

                <div class="form-group">
                    <input type="password" id="matkhau" name="matkhau" placeholder="Mật khẩu *" required>
                </div>

                <div class="form-group">
                    <input type="password" id="xacnhanmatkhau" name="xacnhanmatkhau" placeholder="Xác nhận mật khẩu *"
                           required>
                </div>

                <div class="form-group">
                    <input type="date" id="ngaysinh" name="ngaysinh" required>
                </div>

                <div class="form-group">
                    <select id="tinhthanh" name="tinhthanh" required>
                        <option value="">Chọn giới tính*</option>
                        <option value="hanoi">Nam</option>
                        <option value="hcm">Nữ</option>
                        <option value="hcm">Khác</option>


                    </select>
                </div>

                <div class="form-group">
                    <select id="tinhthanh" name="tinhthanh" required>
                        <option value="">Chọn Tỉnh/Thành*</option>
                        <option value="hanoi">Hà Nội</option>
                        <option value="hcm">TP. Hồ Chí Minh</option>
                        <option value="danang">Đà Nẵng</option>
                        <option value="haiphong">Hải Phòng</option>
                        <option value="cantho">Cần Thơ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" id="checkbox1" name="checkbox1"> <a href="#">Đồng ý với  <span id="check">    Chính sách,   Nhận chương trình khuyến mãi qua email</span></a>
                    </label>
                </div>

                <div class="form-group">
                    <label>
                        <input type="checkbox" id="checkbox2" name="checkbox2"> <a href="#">Nhận chương trình khuyến mãi qua email</a>
                    </label>
                </div>

                <div class="form-group d-flex justify-content-between align-items-center">
                    <input type="submit" value="Đăng Ký">
                    <div class="trigger-login">
                        <span>Bạn đã có tài khoản? </span><a href="#">Đăng nhập</a>
                    </div>
                </div>

            </form>
        </div>
    </main>

}