@section MenuPage{
    <link rel="stylesheet" href="~/css/Menu_Page.css" />

    <main>
        <div class="container p-5" style="font-weight: bold;">
            <div class="productsList py-5">
                <div class="row">
                    <!-- Product 1 -->
                    <div class="col-md-4 p-0 mt-0">
                        <a href="">
                            <div class="productItem px-5 py-4">
                                <img src="https://jollibee.com.vn/media/catalog/product/cache/9011257231b13517d19d9bae81fd87cc/h/_/h_nh_m_n.jpg"
                                     alt="Deal Hời Mới Bạn" class="img-fluid productImg">
                                <h5 class="text-dark mt-3 productTTitle">Deal Hời Mới Bạn</h5>
                                <p class="productPrice mb-4">78,000 ₫</p>
                                <a class="btn productOder">Đặt Hàng</a>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 p-0 mt-0">
                        <a href="">
                            <div class="productItem px-5 py-4">
                                <img src="https://jollibee.com.vn/media/catalog/product/cache/9011257231b13517d19d9bae81fd87cc/h/_/h_nh_m_n.jpg"
                                     alt="Deal Hời Mới Bạn" class="img-fluid productImg">
                                <h5 class="text-dark mt-3 productTTitle">Deal Hời Mới Bạn</h5>
                                <p class="productPrice mb-4">78,000 ₫</p>
                                <a class="btn productOder">Đặt Hàng</a>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 p-0 mt-0">
                        <a href="">
                            <div class="productItem px-5 py-4">
                                <img src="https://jollibee.com.vn/media/catalog/product/cache/9011257231b13517d19d9bae81fd87cc/h/_/h_nh_m_n.jpg"
                                     alt="Deal Hời Mới Bạn" class="img-fluid productImg">
                                <h5 class="text-dark mt-3 productTTitle">Deal Hời Mới Bạn</h5>
                                <p class="productPrice mb-4">78,000 ₫</p>
                                <a class="btn productOder">Đặt Hàng</a>

                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 p-0 mt-0">
                        <a href="">
                            <div class="productItem px-5 py-4">
                                <img src="https://jollibee.com.vn/media/catalog/product/cache/9011257231b13517d19d9bae81fd87cc/h/_/h_nh_m_n.jpg"
                                     alt="Deal Hời Mới Bạn" class="img-fluid productImg">
                                <h5 class="text-dark mt-3 productTTitle">Deal Hời Mới Bạn</h5>
                                <p class="productPrice mb-4">78,000 ₫</p>
                                <a class="btn productOder">Đặt Hàng</a>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>



        <!-- gio hang -->
        <div class="cart-btn-container">
            <button class="btn px-5 rounded-top cart-btn">
                <i class="bi bi-cart2 fs-4"></i>
                <span class="cart-text">0 ₫</span>
            </button>
        </div>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

}