@section HomePage {
    <link rel="stylesheet" href="~/css/HomePage.css" />
    <div class="container_fluid">
        <main role="main" class="pb-3">
            <img src="https://jollibee.com.vn/media/mageplaza/bannerslider/banner/image/b/a/banner_website_4142x1713px-01_2.jpg"
                 alt="" width="100%" style="margin-top: 1px" />


            <div class="grid-container">
                <div class="col-lg-4">
                    <div class="grid-item-jollibee">
                        <div class="intro">
                            <div class="logo-menu-wrapper">
                                <img src="https://jollibee.com.vn/media/logo-footer.png" alt="" />
                            </div>
                            <p class="title">Ăn Gì Hôm Nay</p>
                            <p class="description">
                                Thực đơn Jollibee đa dạng và phong phú, có rất nhiều sự lựa chọn cho bạn, gia đình và bạn bè.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="grid-item">
                        <a href="/ga-gion-vui-ve.html" class="quad-menu">
                            <div class="top-img-wrapper">
                                <img src="https://jollibee.com.vn/media/wysiwyg/today/ga_gion_vui_ve.png" alt="Gà Giòn Vui Vẻ" />
                            </div>
                            <div class="bottom-img-wrapper">
                                <img src="https://jollibee.com.vn/media/e17856b74b7a0e-titlegagionvuive.png" alt="Gà Giòn Vui Vẻ Title" />
                            </div>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/ga-sot-cay.html" class="quad-menu">
                            <div class="top-img-wrapper">
                                <img src="https://jollibee.com.vn/media/wysiwyg/today/ga_sot_cay.png" alt="Gà Sốt Cay" />
                            </div>
                            <div class="bottom-img-wrapper">
                                <img src="https://jollibee.com.vn/media/0a7c5c03bdcaaf-titlegasotcay.png" alt="Gà Sốt Cay Title" />
                            </div>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/mi-y-sot-bo-bam.html" class="quad-menu">
                            <div class="top-img-wrapper">
                                <img src="https://jollibee.com.vn/media/wysiwyg/today/my_y_sot_bo_bam.png" alt="Mì Ý Sốt Bò Băm" />
                            </div>
                            <div class="bottom-img-wrapper">
                                <img src="https://jollibee.com.vn/media/870d84c56fb2b9-titlemiysotbobam.png" alt="Mì Ý Sốt Bò Băm Title" />
                            </div>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/mon-trang-mieng.html" class="quad-menu">
                            <div class="top-img-wrapper">
                                <img src="https://jollibee.com.vn/media/wysiwyg/today/mon_trang_mieng.png" alt="Món Tráng Miệng" />
                            </div>
                            <div class="bottom-img-wrapper">
                                <img src="https://jollibee.com.vn/media/3c96f92fbe5bc3-montrangmieng01.png" alt="Món Tráng Miệng Title" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="DichVu">
                    <div class="title-wrapper">
                        <p class="title">DỊCH VỤ</p>
                        <p class="description">TẬN HƯỞNG NHỮNG KHOẢNH KHẮC TRỌN VẸN CÙNG JOLLIBEE</p>
                    </div>
                    <div class="content-DichVu">
                        <div class="DichVu-entry">
                            <div class="media max-width">
                                <a class="media-center" href="/mon-moi-mon-ngon.html">
                                    <img class="media-object lazy" alt="LẤY TẠI CỬA HÀNG"
                                         src="https://jollibee.com.vn/media/3478848e-3b8f-45f8-bc64-32e112922a8b.png">
                                </a>
                                <div class="media-content">
                                    <h4 class="h4 media-heading text-uppercase">LẤY TẠI CỬA HÀNG</h4>
                                    <a href="/mon-moi-mon-ngon.html" class="btn action primary">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                        <div class="DichVu-entry">
                            <div class="media max-width">
                                <a class="media-center" href="/dich-vu/kid-party">
                                    <img class="media-object lazy" alt="ĐẶT TIỆC SINH NHẬT"
                                         src="https://jollibee.com.vn/media/2_1.png">
                                </a>
                                <div class="media-content">
                                    <h4 class="h4 media-heading text-uppercase">ĐẶT TIỆC SINH NHẬT</h4>
                                    <a href="/dich-vu/kid-party" class="btn action primary">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                        <div class="DichVu-entry">
                            <div class="media max-width">
                                <a class="media-center" href="/dich-vu/kid-club">
                                    <img class="media-object lazy" alt="JOLLIBEE KID CLUB"
                                         src="https://jollibee.com.vn/media/club.png">
                                </a>
                                <div class="media-content">
                                    <h4 class="h4 media-heading text-uppercase">JOLLIBEE KID CLUB</h4>
                                    <a href="/dich-vu/kid-club" class="btn action primary">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                        <div class="DichVu-entry">
                            <div class="media max-width">
                                <a class="media-center" href="/dich-vu/big-order">
                                    <img class="media-object lazy" alt="ĐƠN HÀNG LỚN"
                                         src="https://jollibee.com.vn/media/4_1.png">
                                </a>
                                <div class="media-content">
                                    <h4 class="h4 media-heading text-uppercase">ĐƠN HÀNG LỚN</h4>
                                    <a href="/dich-vu/big-order" class="btn action primary">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="banner_welcome" style="background-image: url('/Img/about_bg.jpeg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; ">
                    <div class="group_content_banner">
                        <div class="content_banner_home">
                            <h3 class="title-About">JOLLIBEE, XIN CHÀO</h3>
                            <p class="description-About">
                                Chúng tôi là Jollibee Việt Nam với hơn 100 cửa hàng trên khắp cả
                                nước,
                                chúng tôi mong muốn đem đến niềm vui ẩm thực cho mọi gia đình Việt bằng những món ăn có chất
                                lượng tốt, hương vị tuyệt hảo, dịch vụ chu đáo với một mức giá hợp lý… Hãy đến và thưởng
                                thức nhé!
                            </p>
                            <div class="button_banner">
                                <a class="btn_banner btn action primary" href="/ga-gion-vui-ve.html">
                                    ĐẶT HÀNG
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="home-store-locator">
                <div class="title">
                    <h3>Tìm cửa hàng</h3>
                </div>

                <div id="location-filter" class="location-filter">
                    <select id="province-filter" name="province-filter" class="filter province-filter select-filter">
                        <option>Chọn tỉnh thành</option>
                        <option>Hồ Chí Minh</option>
                        <option>Hà Nội</option>
                        <option>An Giang</option>
                        <option>Bà Rịa - Vũng Tàu</option>
                        <option>Bắc Giang</option>
                        <option>Bạc Liêu</option>
                        <option>Bắc Ninh</option>
                    </select>
                    <select id="district-filter" name="district-filter" class="filter district-filter select-filter">
                        <option>Chọn quận huyện</option>
                    </select>
                </div>

                <a id="locator-submit-Search" class="btn action primary btn-banner">
                    <span>Tìm kiếm</span>
                </a>
            </div>
            <div class="TinTuc">
                <div class="title-wrapper-post">
                    <p class="title-post">Tin Tức</p>
                </div>
                <div class="content-post">
                    <div class="post-entry">
                        <div class="media">
                            <div class="post-image">
                                <a href="https://jollibee.com.vn/blog/post/jollibee-việt-nam-khai-truong-cửa-hang-thứ-191"
                                   title="JOLLIBEE VIỆT NAM KHAI TRƯƠNG CỬA HÀNG THỨ 191">
                                    <img src="https://jollibee.com.vn/media/magefan_blog/thumbnail2.jpg"
                                         alt="JOLLIBEE VIỆT NAM KHAI TRƯƠNG CỬA HÀNG THỨ 191">
                                </a>
                            </div>
                            <div class="post-title-holder clearfix">
                                <div class="post-title">
                                    <a class="post-item-link media-heading"
                                       href="https://jollibee.com.vn/blog/post/jollibee-việt-nam-khai-truong-cửa-hang-thứ-191">
                                        JOLLIBEE VIỆT NAM KHAI TRƯƠNG CỬA HÀNG THỨ 191
                                    </a>
                                </div>
                            </div>

                            <div class="post-text-hld clearfix" style="font-size: 12px;">
                                <p>
                                    Vào ngày&nbsp;17/05/2024,&nbsp;tại tuyến phố Mê&nbsp;Linh&nbsp;sầm uất của phường Liên
                                    Bảo, thành...
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="post-entry">
                        <div class="media">
                            <div class="post-image">
                                <a href="https://jollibee.com.vn/blog/post/jollibee-–-thấu-hiểu-dể-thanh-cong-duplicated"
                                   title="Jollibee Việt Nam khai trương cửa hàng thứ 150">
                                    <img src="https://jollibee.com.vn/media/magefan_blog/THUMBNAIL-04-06.jpg"
                                         alt="Jollibee Việt Nam khai trương cửa hàng thứ 150">
                                </a>
                            </div>
                            <div class="post-title-holder clearfix">
                                <div class="post-title">
                                    <a class="post-item-link media-heading"
                                       href="https://jollibee.com.vn/blog/post/jollibee-–-thấu-hiểu-dể-thanh-cong-duplicated">
                                        Jollibee Việt Nam khai trương cửa hàng thứ 150
                                    </a>
                                </div>
                            </div>

                            <div class="post-text-hld clearfix" style="font-size: 12px;">
                                <div class="para text-justify">
                                    Jollibee Việt Nam đã đưa vào vận hành nhà máy mới với chứng
                                    nhận ISO 22000:2018 về ...
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry">
                        <div class="media">
                            <div class="post-image">
                                <a href="https://jollibee.com.vn/blog/post/jollibee-tham-vọng-trở-thanh-thuong-hiệu-fast-food-duợc-yeu-thich-nhất-việt-nam-duplicated"
                                   title="JOLLIBEE VIỆT NAM TIẾP TỤC ĐÀ TĂNG TRƯỞNG SAU GIÃN CÁCH">
                                    <img src="https://jollibee.com.vn/media/magefan_blog/thumbnail_2.PNG"
                                         alt="JOLLIBEE VIỆT NAM TIẾP TỤC ĐÀ TĂNG TRƯỞNG SAU GIÃN CÁCH">
                                </a>
                            </div>
                            <div class="post-title-holder clearfix">
                                <div class="post-title">
                                    <a class="post-item-link media-heading"
                                       href="https://jollibee.com.vn/blog/post/jollibee-tham-vọng-trở-thanh-thuong-hiệu-fast-food-duợc-yeu-thich-nhất-việt-nam-duplicated">
                                        JOLLIBEE VIỆT NAM TIẾP TỤC ĐÀ TĂNG TRƯỞNG SAU GIÃN CÁCH
                                    </a>
                                </div>
                            </div>

                            <div class="post-text-hld clearfix" style="font-size: 12px;">
                                <div class="para text-justify">
                                    Jollibee Việt Nam đã đưa vào vận hành nhà máy mới với chứng
                                    nhận ISO 22000:2018 về ...
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-entry">
                        <div class="media">
                            <div class="post-image">
                                <a href="https://jollibee.com.vn/blog/post/nha-may-mới-jollibee-việt-nam-nhận-duợc-iso-220002018-duplicated"
                                   title="JOLLIBEE THAM VỌNG TRỞ THÀNH THƯƠNG HIỆU FAST FOOD ĐƯỢC YÊU THÍCH NHẤT VIỆT NAM">
                                    <img src="https://jollibee.com.vn/media/magefan_blog/JED_Man.jpg"
                                         alt="JOLLIBEE THAM VỌNG TRỞ THÀNH THƯƠNG HIỆU FAST FOOD ĐƯỢC YÊU THÍCH NHẤT VIỆT NAM">
                                </a>
                            </div>
                            <div class="post-title-holder clearfix">
                                <div class="post-title">
                                    <a class="post-item-link media-heading"
                                       href="https://jollibee.com.vn/blog/post/nha-may-mới-jollibee-việt-nam-nhận-duợc-iso-220002018-duplicated">
                                        JOLLIBEE THAM VỌNG TRỞ THÀNH THƯƠNG HIỆU FAST FOOD ĐƯỢC YÊU THÍCH NHẤT VIỆT NAM
                                    </a>
                                </div>
                            </div>

                            <div class="post-text-hld clearfix" style="font-size: 12px;">
                                <div class="para text-justify">
                                    Jollibee Việt Nam đã đưa vào vận hành nhà máy mới với chứng
                                    nhận ISO 22000:2018 về ...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-wrapper">
                    <a href="#" class="btn action primary">
                        Xem thêm
                    </a>
                </div>
            </div>
        </main>
    </div>

}
