@section About{
    <link rel="stylesheet" href="~/css/About.css" />

    <main>
        <div class="cms-ve-jollibee">
            <div class="flex-box-au">
                <div class="left-box-au">
                    <img src="https://jollibee.com.vn/media/bee.png" alt="Jollibee Logo" style="z-index: 1;">
                </div>
                <div class="right-box-au">
                    <div class="title">LỊCH SỬ HÌNH THÀNH</div>
                    <div class="content-1" style="font-size: 16px;">
                        Jollibee là một câu chuyện thành công phi thường bởi chỉ từ 2 tiệm kem nhỏ hình thành vào năm
                        1975, chuyên bán các món ăn nóng và bánh mì kẹp đã trở thành công ty với 7 cửa hàng vào năm
                        1978, chuyên về bơ gơ. Sau đó trở thành một tập đoàn tạo nên cuộc cách mạng thức ăn nhanh tại
                        Philippines.
                    </div>
                    <div class="content-2" style="font-size: 16px; padding-top: 28px;">
                        Jollibee hiện có hơn 1000 cửa hàng tại Philippines và hơn 300 cửa hàng tại các quốc gia trên
                        khắp thế giới như Mỹ, Hong Kong, các tiểu vương quốc Ả Rập Thống Nhất, Qatar, Brunei, Trung
                        Quốc, và Việt Nam.
                    </div>
                </div>
            </div>
        </div>

        <section class="store-locations">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-lg-3" style="padding: 0;">
                        <img src="https://jollibee.com.vn/media/mageplaza/bannerslider/banner/image/b/l/block-1.png"
                             alt="Jollibee Store 1" class="img" style="width: 100%;">
                    </div>
                    <div class="col-lg-3" style="padding: 0;">
                        <img src="https://jollibee.com.vn/media/mageplaza/bannerslider/banner/image/b/l/block-2.png"
                             alt="Jollibee Store 2" class="img" style="width: 100%;">
                    </div>
                    <div class="col-lg-3" style="padding: 0;">
                        <img src="https://jollibee.com.vn/media/mageplaza/bannerslider/banner/image/b/l/block-3.png"
                             alt="Jollibee Store 3" class="img" style="width: 100%;">
                    </div>
                    <div class="col-lg-3" style="background-color: #e31837; display: flex; align-items: center; justify-content: center; padding: 0;">
                        <div class="icon-fb-email">
                            <a class="btn-icon text-white" style="padding-right: 10px;" href="http://www.facebook.com/JollibeeVietnam">
                                <img src="https://jollibee.com.vn/media/wysiwyg/icon-fb-43.png" alt="">
                            </a>
                            <a class="btn-icon text-white" href="mailto:jbvnfeedback@jollibee.com.vn">
                                <img src="https://jollibee.com.vn/media/wysiwyg/icon-mail-43.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>



            </div>
        </section>
        <div class="flex-box-content-2">
            <div class="title">JOLLIBEE VIỆT NAM</div>
            <div class="content-1">Cửa hàng Jollibee đầu tiên được mở tại Việt Nam vào năm 2005. Kể từ đó, Jollibee đã nỗ lực hết mình để mang đến các gia đình Việt những phần ăn ngon miệng với mức giá hợp lý.</div>
            <div class="content-2">Đến hôm nay, Jollibee đã có hơn 100 cửa hàng tại Việt Nam trải rộng trên toàn quốc. Jollibee không đơn thuần phục vụ những món thức ăn nhanh chất lượng theo quy trình được kiểm duyệt nghiêm khắc, mà còn mang đến cho mọi người không gian ấm áp, sang trọng để ai cũng được thưởng thức ẩm thực vui vẻ, thoải mái nhất bên gia đình và bè bạn. Từ những nền tảng này, Jollibee Việt Nam luôn ấp ủ trở thành thương hiệu thức ăn nhanh mang đến những món ăn ngon với hương vị phù hợp cho người Việt bên cạnh mục tiêu tạo ra một địa điểm ẩm thực góp phần gắn kết gia đình Việt qua bữa ăn ngon. Và đây cũng chính là tiền đề để Jollibee củng cố và phát triển bền vững trong dài hạn.</div>
        </div>



        <section style="background-image: url('https://jollibee.com.vn/media/about-us/about-bg2.jpeg'); background-size: cover; background-position: center; height: 1000px;">
            <div class="container-fluid text-center"
                 style="color: #FFFFFF; background-color: rgba(0, 0, 0, 0.5); padding: 40px; height: 100%;">
                <h2 style="font-size: 36px; font-weight: bold; margin-bottom: 40px;">CÁC GIÁ TRỊ</h2>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div style="font-size: 48px; padding-top: 20px;">
                            <i class="bi bi-person-circle" style="color: #FFFFFF;"></i>
                        </div>
                        <h5 style="font-weight: bold;">Khách hàng là trung tâm</h5>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div style="font-size: 48px; padding-top: 20px;">
                            <i class="bi bi-graph-up" style="color: #FFFFFF;"></i>
                        </div>
                        <h5 style="font-weight: bold;">Mang đến các giá trị vượt trội</h5>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div style="font-size: 48px; margin-top: 20px; ">
                            <i class="fas fa-handshake"></i>
                        </div>
                        <h5 style="font-weight: bold; margin-bottom: 40px;">Luôn đề cao sự tôn trọng đối với các cá nhân</h5>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div style="font-size: 48px;">
                            <i class="bi bi-people-fill" style="color: #FFFFFF;"></i>
                        </div>
                        <h5 style="font-weight: bold; margin-bottom: 40px;">Tinh thần tập thể</h5>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div style="font-size: 48px;">
                            <i class="bi bi-heart-fill" style="color: #FFFFFF;"></i>
                        </div>
                        <h5 style="font-weight: bold;">Mang tinh thần của gia đình luôn vui vẻ</h5>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div style="font-size: 48px;">
                            <i class="bi bi-chat-square-heart-fill" style="color: #FFFFFF;"></i>
                        </div>
                        <h5 style="font-weight: bold;">Khiêm tốn lắng nghe và học hỏi</h5>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div style="font-size: 48px;">
                            <i class="bi bi-shield-check" style="color: #FFFFFF;"></i>
                        </div>
                        <h5 style="font-weight: bold;">Trung thực và liêm chính</h5>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div style="font-size: 48px;">
                            <i class="fas fa-money-bill" style="font-size: 36px; color: #FFFFFF;"></i>                        <h5 style="font-weight: bold;">Tiết Kiệm</h5>
                        </div>


                    </div>
                </div>
        </section>
        <section>
            <div class="row g-0 align-items-center">
                <!-- Image Section -->
                <div class="col-lg-5">
                    <img src="https://jollibee.com.vn/media/about-img.png" alt="Jollibee" class="img-fluid rounded shadow-sm">
                </div>

                <!-- Content Section -->
                <div class="col-lg-7 pe-5" style="padding-left: 100px;">
                    <!-- Mission Title -->
                    <h2 class="fs-2 fw-bold text-danger mb-4">SỨ MỆNH</h2>
                    <p class="fs-6 lh-lg text-justify mb-4">
                        Tất cả những gì mà chúng tôi phải làm là mang đến những hương vị tuyệt vời trong từng món ăn, mang lại niềm vui
                        ẩm thực cho tất cả mọi người.
                    </p>

                    <!-- FSC Standards Title -->
                    <h2 class="fs-2 fw-bold text-danger mb-4">CÁC TIÊU CHUẨN FSC</h2>
                    <p class="fs-6 lh-lg text-justify mb-3">
                        Sự phát triển vượt bậc của Jollibee<sup>®</sup> có được là nhờ vào việc tuân thủ một cách nghiêm ngặt và tận
                        tâm vào các tiêu chuẩn cao được ký hiệu là “F.S.C”: Thực phẩm (Food) được phục vụ cho công chúng phải đáp ứng
                        được các tiêu chuẩn vượt trội của công ty nếu không chúng tôi sẽ không đưa ra thị trường. Dịch vụ (Service)
                        phải nhanh chóng và lịch sự. Sạch sẽ (Cleanliness), từ nhà bếp đến các dụng cụ phải luôn luôn được giữ sạch.
                        Jollibee thực sự tự hào về những nhân viên của mình, những người luôn tận tụy với công việc của họ.
                    </p>
                    <p class="fs-6 lh-lg text-justify">
                        Jollibee luôn công nhận họ bằng việc mang đến cho họ đãi ngộ tốt nhất trong ngành công nghiệp thức ăn nhanh và
                        hỗ trợ trong những chương trình đào tạo toàn diện và hiện đại. Những nhà quản lý được phổ biến thường xuyên
                        trên những nền tảng mới nhất ở cửa hàng và kỹ năng quản lý còn người theo nguyên tắc riêng so với những người
                        khác. Những nhóm dịch vụ được đào tạo lên cấp quản lý trong ngành dịch vụ thực phẩm luôn được chú ý bởi Jollibee.
                    </p>
                </div>
            </div>
        </section>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />

    </main>

}
